@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --diag-angle: 0deg;
}

html:focus-within{
    scroll-behavior: smooth !important;
}

textarea {
    resize: none;
}

.current-char {
  background-color: yellow;
  color: green;
  text-decoration: underline
}
